<div class="container border">
  <div class="row">
    <div class="col-md-4">
      <div class="bg-info mt-4 p-4 text-center">
        <H1>Reactive Form</H1>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
        <div class="form-group mt-4">
          <label for="">Name : </label>
          <input type="text" name="name" [class.is-invalid]="f['name'].invalid && f['name'].touched"
            class="form-control" placeholder="Enter Name" formControlName="name">
        </div>
        <div class="alert alert-danger" *ngIf="f['name'].invalid && f['name'].touched">
          <div *ngIf="f['name'].errors && f['name'].errors['required']">
            Name is required
          </div>
          <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
            3 Characters min
          </div>
          <div *ngIf="f['name'].errors && f['name'].errors['maxlength']">
            20 Characters max
          </div>
        </div>
        <div class="form-group">
          <label for="">Age : </label>
          <input type="number" name="age" [class.is-invalid]="f['age'].invalid && f['age'].touched" class="form-control"
            placeholder="Enter Age" formControlName="age">
        </div>
        <div class="alert alert-danger" *ngIf="f['age'].invalid && f['age'].touched">
          <div *ngIf="f['age'].errors && f['age'].errors['required']">
            Age is required
          </div>
          <div *ngIf="f['age'].errors && f['age'].errors['min']">
            Age is Greater than 10
          </div>
          <div *ngIf="f['age'].errors && f['age'].errors['max']">
            Age is less then 50
          </div>
        </div>
        <div class="form-group">
          <label for="">Email : </label>
          <input type="email" name="email" [class.is-invalid]="f['email'].invalid && f['email'].touched"
            class="form-control" placeholder="Enter Email" formControlName="email">
        </div>
        <div class="alert alert-danger" *ngIf="f['email'].invalid && f['email'].touched">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">
            Email is required
          </div>
          <div *ngIf="f['email'].errors && f['email'].errors['pattern']">
            Email Id invalid
          </div>
        </div>
        <div class="form-group">
          <label for="">Password : </label>
          <input type="password" name="pass" [class.is-invalid]="f['pass'].invalid && f['pass'].touched"
            class="form-control" placeholder="Enter Password" formControlName="pass">
        </div>
        <div class="alert alert-danger" *ngIf="f['pass'].invalid && f['pass'].touched">
          <div *ngIf="f['pass'].errors && f['pass'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['pass'].errors && f['pass'].errors['pattern']">
            Password should be strong
          </div>
        </div>
        <label for="">Gender : </label>
        <div class="form-check">
          <label for="">Male</label>
          <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="Male">
        </div>
        <div class="form-check">
          <label for="">Female</label>
          <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="Female">
        </div>
        <div class="form-group">
          <label for="">City : </label>
          <select name="city" formControlName="city" class="form-control"
            [class.is-invalid]="f['city'].invalid && f['city'].touched">
            <option value="" selected>Select</option>
            <option value="Nepanagar">Nepanagar</option>
            <option value="Indore">Indore</option>
            <option value="Pune">Pune</option>
            <option value="Noida">Noida</option>
          </select>
        </div>
        <div class="alert alert-danger" *ngIf="f['city'].invalid && f['city'].touched">
          <div *ngIf="f['city'].errors && f['city'].errors['required']">
            City is required
          </div>
        </div>
        <div class="mt-3">
          <label for="">Hobbies :</label>
          <div *ngFor="let hobby of hobbiesArray;let i = index;">
            <label for="">
              <input type="checkbox" (change)="onChange($event)" class="form-check-input" [value]="hobby" >
              {{hobby}}
            </label>
          </div>
        </div>
        <hr>
        <div class="form-check mt-2">
          <label for="">I Accept the Term & Conditions</label>
          <input type="checkbox" formControlName="accept" class="form-check-input" name="accept">
        </div>
       <hr>
        <div class=" mt-4">
          <input type="submit" [class.disabled]="signupForm.invalid" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>